* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

.dark {
    --background: hsl(207, 26%, 17%);
    --text: white;
    --element: hsl(209, 23%, 22%);
    background-color: var(--background);
    color: var(--text);
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    padding: 12px 29px;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 0.15);
    background-color: var(--element);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    max-width: 656px;
    margin-inline: auto;
}

.header-container p {
    display: flex;
    font-weight: 600;
    align-items: center;
}

ion-icon {
    --ionicon-stroke-width: 49px;
}

.theme:hover {
    cursor: pointer;
}

main {
    padding: 29px;
}

.search-filter-container {
    max-width: 656px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.search {
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 0.15);
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(108 108 108 / 85%);
    width: 250px;
    border-radius: 3px;
    padding: 0 10px;
    background-color: var(--element);
}

.search input {
    padding: 11px 10px;
    border: none;
    outline: none;
    font-size: 10px;
    flex-grow: 1;
    background-color: var(--element);
    color: inherit;
}

.search input::placeholder {
    color: rgb(108 108 108 / 85%);
    ;
}

.filter {
    border: none;
    outline: none;
    color: rgba(71, 71, 71, 0.96);
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 0.15);
    font-size: 10px;
    padding: 7px 10px;
    border-radius: 3px;
    width: 150px;
    background-color: var(--element);
    color: inherit;
}


.main-country-container {
    display: flex;
    justify-content: center;
}

.country-container {
    display: flex;
    justify-content: space-between;
    max-width: 656px;
    flex-wrap: wrap;
    gap: 28px;
}

.country-card {
    max-width: 189px;
    display: inline-block;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 0.15);
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 33px;
    margin-top: 39px;
    transition: all 0.5s ease-in-out;
    background-color: var(--element);
}

.country-card:hover {
    box-shadow: 2px 4px 12px 0px rgb(0 0 0 /4.75%);
    transform: scale(1.05);
}

.country-card img {
    width: 100%;
}

.country-name {
    font-size: 12px;
    margin-block: 11px;
}

.country-card span {
    font-size: 10px;
    display: block;
    margin-top: 4px;
}

.country-text {
    padding-inline: 12px;
}


@media (max-width:500px) {
    .country-container {
        flex-direction: column;
    }

    .search-filter-container {
        flex-direction: column;
        gap: 26px;
    }

    .search {
        width: 100%;
        padding: 2px 10px;
    }


    .filter {
        width: 60%;
        padding: 10px 12px;
    }
}